.contact-component {}

.contact-form-wrapper {
  position: relative;
  top: 13vh;
  height: 70%;
  flex-direction: row;
  padding: 50px 100px;
  min-height: 65vh;
  border-radius: 12px;
  background: #19283A;
  color: ghostwhite;
}

.card-title>h1 {
  padding-left: 2%;
  font-size: 1.5rem;
}

#contact-form>input::placeholder,
textarea::placeholder {
  color: ghostwhite;
}

.contact-form-body {
  display: flex;
  flex-direction: row;
}

.contact-form-body>* {
  margin: 2%;
}

#contact-form {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1.5px solid ghostwhite;
}

#contact-form>#message,
input {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

#contact-form>h2 {
  font-weight: 500;
  font-size: 1.4rem;
}

.contact-form-details {
  width: 40%;
}

.contact-form-details {
  font-style: italic;
  font-weight: 100;
}

.contact-form-details>h3 {
  font-weight: 400;
  text-align: center;
}

.contact-form-details>h3:after {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid ghostwhite;
  height: 20px;
  width: 60%;
}

.contact-form-details>ul {
  padding: 0;
  list-style-type: none;
}

.my-dealings {
  line-height: 24px;
  letter-spacing: 1px;
}

#contact-form>* {
  max-width: 380px;
}

#contact-form>input,
#message {
  padding: 1%;
  font-size: 1rem;
  background: transparent;
  border: none;
  color: gainsboro;
  margin-top: 20px;
  border-bottom: 1.5px solid ghostwhite;
}

#message {
  height: 18px;
  overflow: hidden;
}

#contact-form>.submit {
  padding: 2%;
  border: none;
  background-color: ghostwhite;
  color: black;
  font-style: italic;
  cursor: pointer;
  max-width: 200px;
}

.thank-you-submit {
  position: relative;
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 200px;
  font-size: 18px;
  font-style: italic;
  line-height: 1.75rem;
  font-weight: 100;
  width: 60%;
  border-right: 1.5px solid ghostwhite;
}

.contact-form-footer {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 2px;
  font-size: 1rem;
  color: ghostwhite;
}

.contact-form-footer * {
  color: ghostwhite;
  font-size: 40px;
}

.contact-form-footer>ul {
  display: inherit;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin-top: 40px;
  padding: 0;
}

@media (max-width: 750px) {
  .contact-component {
    height: initial;
  }

  .contact-form-body {
    flex-direction: column-reverse;
  }

  .contact-form-wrapper {
    padding: 20px 70px;
    text-align: center;
  }

  .card-title {
    text-align: center;
  }

  #contact-form {
    border-right: none;
    margin: auto;
    width: 100%;
  }

  #contact-form>h2 {
    font-size: 1.2rem;
  }

  #contact-form>input,
  #message {
    font-size: 16px;
  }

  #contact-form>* {
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
  }

  .contact-form-details {
    margin: auto;
    width: 100%;
  }
  .contact-form-details > ul {
    text-align: left;
  }

  .contact-form-footer {
    font-size: .7rem;
    justify-content: flex-end;
  }
}