.navbar-component {
  display: inline-block;
  position: fixed;
  z-index: 100;
  width: 100%;
  transition: .2s;
}

.main-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 60em;
  margin: 2% auto;
  padding: 0;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  transition: .5s;
}

.main-nav .nav-link {
  letter-spacing: .2em;
  font-weight: 500;
  color: #02010a;
  transition: .2s;
  font-size: 1.1rem;
}

.main-nav .nav-link:hover {
  color: rgba(164, 186, 215);
}

/* Initials */

.initials-icon {
  display: inline-block;
}

.icon-card-initials-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 60px;
  border: 1.5px solid rgba(100, 100, 100, 1);
  transition: .45s;
}

.icon-card-initials {
  position: absolute;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 40px;
  font-family: 'Julius Sans One', sans-serif;
  color: rgba(50, 50, 50, 1);
  transition: .55s;
}

.icon-card-initials-wrapper:hover {
  background: ghostwhite;
  cursor: pointer;
  border: 1.5px solid rgba(50, 50, 50, 1);
}

.icon-fill {
  background: gainsboro;
}

.icon-card-initials-wrapper:hover>.icon-card-initials {
  color: rgba(50, 50, 50, 1);
}


@media(min-width: 2000px) {
  .main-nav {
    width: 100rem;
    margin: 2% auto;
  }

  .main-nav .nav-link {
    letter-spacing: .2em;
    font-weight: 600;
    font-size: 2rem;
  }

  .icon-card-initials-wrapper {
    height: 90px;
    width: 90px;
    border: 2px solid black;
  }

  .icon-card-initials {
    font-weight: 900;
    font-size: 70px;
  }
}

@media(max-width: 1050px) {
  .main-nav .nav-link {
    letter-spacing: .2em;
    font-weight: 500;
    font-size: 1.1rem;
  }

  .main-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 40em;
  }
  
  .icon-card-initials-wrapper {
    height: 50px;
    width: 50px;
    border: 1px solid black;
  }

  .icon-card-initials {
    font-weight: 900;
    font-size: 40px;
  }
}

@media(max-width: 700px) {
  .main-nav .nav-link {
    letter-spacing: .2em;
    font-weight: 500;
    font-size: .8rem;
  }

  .main-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 20em;
  }
  
  .icon-card-initials-wrapper {
    height: 30px;
    width: 30px;
    border: 1px solid black;
  }

  .icon-card-initials {
    font-weight: 900;
    font-size: 20px;
  }
}