.navbar-component {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  overflow: hidden;
  max-height: 61px;
}

.main-nav>ul {
  display: inline-flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 20px 0 0 0;
  width: 325px;
  transition-duration: .3s;
}

.main-nav>ul>li {
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 16px;
  line-height: 16px;
}

.main-nav>ul>li>a {
  display: block;
  position: relative;
  transform: translateY(-16px);
  text-decoration: none;
  font-size: 18px;
  color: #222831;
  transition-duration: .2s;
  transition-timing-function: ease;
  font-weight: 600;
}

.portfolio-hover-effect:hover a {
  transform: translateY(0px);
}

.contact-hover-effect:hover a {
  transform: translateY(0px);
}

.main-nav>ul>li>a:nth-of-type(1) {
  color: #f95959;
}


/* Contact Me */

/* .contact-navbar-button {
  display: inline-block;
  position: absolute;
  border: 2px solid black;
  right: 26px;
}

.contact-navbar-button>a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.contact-navbar-button>a>p {
  margin: 0;
  padding: 7px 7px;
} */

/* Initials */

.initials-icon {
  display: inline-block;
}

.icon-card-initials-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1.5px solid rgba(100, 100, 100, 1);
  transition: .45s;
}

/* .icon-card-initials-wrapper-large {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  width: 90px;
  border: 1.5px solid rgba(100, 100, 100, 1);
  transition: .45s;
} */

.icon-card-initials {
  position: absolute;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 30px;
  font-family: 'Julius Sans One', sans-serif;
  color: rgba(50, 50, 50, 1);
  transition: .55s;
}

/* 
.icon-card-initials-large {
  position: absolute;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 70px;
  font-family: 'Julius Sans One', sans-serif;
  color: rgba(50, 50, 50, 1);
  transition: .55s;
} */

.icon-card-initials-wrapper:hover {
  background: ghostwhite;
  cursor: pointer;
  border: 1.5px solid rgba(50, 50, 50, 1);
}

.icon-fill {
  background: gainstboro;
}

.icon-card-initials-wrapper:hover>.icon-card-initials {
  color: rgba(50, 50, 50, 1);
}

.active-route {
  color: #f73859 !important;
}