.footer-component {
  display: flex;
  position: relative;
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-top: 1px solid black;
}

.footer-signature {
  display: inline-block;
  margin-top: 1%;
}

.copywrite {
  color: gray;
}

@media(min-width: 2000px) {
  .footer-component h2 {
    font-size: 4rem;
  }
  .footer-component p {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .thank-you {
    font-size: .8em;
    line-height: 1.4em;
    width: 70%;
  }
}