.homepage-component {
  position: relative;
  background: ghostwhite;
}

.temp-position {
  position: relative;
  top: 13vh;
}

.resume-jump-menu {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  margin-top: 0;
}

.resume-jump-menu li {
  position: relative;
  margin-top: 20px;
  margin: 10px 20px;
  cursor: pointer;
}

.resume-jump-menu>li>p,
a {
  text-decoration: none;
  color: #202020;
  margin: 0;
}

.resume-jump-menu>li:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 5px;
  transition: .5s;
  border-bottom: 1.5px solid;
}

.resume-jump-menu>li:hover:after {
  border-bottom: 1.5px solid black;
  width: 100%;
}

.reviews-section {
  width: 60%;
  margin: auto;
}

/* Experience Layout */

.experience-header {
  position: relative;
  display: block;
  margin-top: 300px;
  background: linear-gradient(to right, #0b2247 25%, #425779 25% 50%, #758298 50% 75%, ghostwhite 75% 100%);
  margin: 0;
  color: ghostwhite;
  padding: 1px 80px;
}

.experience-row {
  position: relative;
  display: flex;
  flex-direction: row;
  /* background: url('/assets/images/fontana_de_trevi_desaturated_chromad.jpg'); */
  background-size: contain;
  margin: 0 4rem;
}

.experience-flavor {
  /* -webkit-clip-path: polygon(0 0, 18% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 18% 0, 100% 100%, 0% 100%); */
  min-width: 15vw;
  background-size: cover;
}

.experience-flavor:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent 0%, #FFF8FF 15%);
}


.experience-container>h1 {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
  color: #020202;
}

.exp-first-tier {
  text-align: left;
  margin: 40px;
  position: relative;
  padding: 40px;
  color: black;
  letter-spacing: 2px;
}

.exp-first-tier:before {
  content: '';
  width: 1%;
  position: absolute;
  top: 0;
  left: 0;
}

#imatrix {
  border-left: 4px solid #2a5b72;
}

#imatrix:before {
  border-top: 4px solid #2a5b72;
}

#trilogy-bootcamp {
  border-left: 4px solid #47410b;
}

#trilogy-bootcamp:before {
  border-top: 4px solid #47410b;
}

#alliant {
  border-left: 4px solid #614051;
}

#alliant:before {
  border-top: 4px solid #614051;
}

.exp-item {
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
}

.exp-item>header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  letter-spacing: 1px;
}

.exp-item>header>h4 {
  margin: -12px 0 18px 6px;
}

.exp-item>p {
  margin: 0;
  padding-left: 1%;
  line-height: 1.7rem;
  padding-bottom: 16px;
}

.exp-item>header>h4:nth-child(even) {
  text-align: right;
}

/* Skills Layout */

.skills-row {
  position: relative;
  display: flex;
  flex-direction: row;
}

.skills-header {
  position: relative;
  display: block;
  text-align: right;
  background: linear-gradient(to left, #421124 0% 25%, #4F1E31 25% 50%, #704857 50% 75%, #f8f8ff 75% 100%);
  margin: 0;
  color: ghostwhite;
  padding: 1px 120px;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  z-index: 1;
  background: url('/assets/images/taipei101_flattened_blue.jpg');
  background-size: cover;
  background-position: bottom;
}

/* .skills-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to left, transparent 0%, #FFF8FF 90%);
} */


/* Copied Skill */
.skills-intro>h1 {
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
}

.skill-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  min-height: 150px;
}


.skills-head {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Comfortaa', cursive;
  background: dodgerblue;
}

.skills-head>p {
  margin: 0;
}

.skills-head>img {
  width: 60px;
}

.skills-details {
  display: inherit;
  justify-content: space-around;
  text-align: center;
  opacity: .9;
}

.skills-details ul {
  display: flex;
  align-items: center;
  padding: 10px 0;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.skills-details ul li {
  position: relative;
  flex: 1 0 auto;
  padding: .8rem;
  background-color: #888;
  margin: .8rem;
  min-width: 100px;
  color: ghostwhite;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
  max-width: 150px;
}

.skills-details ul span {
  display: flex;
  flex-direction: column;
}


ul.skill-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0;
}

@media(max-width: 650px) {

  .experience-row {
    margin: 0;
  }

  .exp-item > p {
    font-size: .8rem;
  }

  .exp-item > header {
    font-size: 1rem;
  }
  .exp-item>header>h4:nth-child(even) {
    text-align: left;
  }
  .experience-header {
    text-align: center;
  }

  .skills-header {
    text-align: center;
  }

  .skill-item {
    flex-direction: column;
  }

  .skills-head {
    align-items: center;
  }

  .skills-details ul>li {
    max-width: 75px;
    font-size: .8rem;
  }

  ul.skill-list {
    display: flex;
    flex-direction: column;
  }

}