main {
  display: grid;
  grid-template-columns: auto 960px auto;
  grid-template-rows: 1fr;
}

main>.big-intro {
  display: grid;
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 14rem 0 12rem;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 700;
  letter-spacing: .1rem;
  line-height: .6;
  color: #0745af;
}

.tagline {
  margin-left: 1.7rem;
}

.tagline>span {
  display: block;
}

.tagline>span:nth-child(1) {
  font-size: 5rem;
}

.tagline>span:nth-child(2) {
  opacity: .2;
  margin-left: 5rem;
  font-size: 3rem;
}

.tagline>span:nth-child(3) {
  opacity: .2;
  margin-left: 10rem;
  font-size: 3rem;
}

main>.small-intro {
  display: grid;
  grid-row: 2;
  grid-template-rows: 240px;
  grid-column-start: 1;
  grid-column-end: 4;
}

main>.small-intro>.small-intro-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3rem;
  grid-column-start: 1;
  grid-column-end: 2;
  background: #A7BCD6;
}

main>.small-intro>.small-intro-flavor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3rem;
  grid-column-start: 3;
  grid-column-end: 4;
  background: #235391;
  color: ghostwhite;
}

.grid-container-homepage {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

section.meet-me::before {
  position: absolute;
  top: 0px;
  left: -45px;
  content: "";
  background: linear-gradient(#235391 0 25%,
    #5276A5 25% 50%,
    #A7BCD6 50% 75%,
    ghostwhite 75% 100%);
  height: 100%;
  width: 10px;
}

.grid-container-homepage>.column {
  position: relative;
  padding: 3em;
  min-height: 40vh;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-container-homepage>.column a {
  text-decoration: none;
}

.projects-intro-wrapper {
  text-align: left;
}

.projects-intro-wrapper>h1 {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(28, 69, 131);
}

.intro-block {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url('/assets/images/toriigatewater_altered_blued_ghosted_paletted.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0vh;
  margin-bottom: 10vh;
}

.intro-focus-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.intro-focus-flavor-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.intro-focus-flavor {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* border: 10px solid black; */
  /* border-left: 5px solid black; */
  /* border-right: 5px solid black; */
  width: 20rem;
  height: 20rem;
  background: rgba(255, 255, 255, .9);
  transform: rotate(45deg);
  border: 1px solid black;
}


.intro-announcement-wrapper {
  height: 100%;
  width: 100%;
}

.intro-announcement {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  font-size: 1rem;
  z-index: 2;
  /* color: rgb(28, 69, 131); */
  color: black;
  letter-spacing: .5rem;
  font-family: 'Major Mono Display', monospace;
}

/* 
.intro-announcement::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: -1;
  border: 5px solid #235391;
  left: 0;
  right: 0;
  top: 10px;
  bottom: 0;
  margin: auto;
} */

.intro-image-wrapper {
  width: 50%;
  height: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* background: rgba(255, 255, 255, .7); */
}

.intro-image-wrapper>img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 400px;
  z-index: -1;
}

.project-intro {
  text-align: left;
}

.meet-me {
  display: block;
  position: relative;
  margin: 0 auto 20vh auto;
  font-family: 'Source Code Pro', monospace;
  font-size: .875em;
  line-height: 1.4;
  color: #02010a;
  max-width: 60em;
}

.flavor-pluses-wrapper {
  height: 100%;
  width: 100%;
}

.flavor-pluses {
  position: relative;
  padding: 0;
  left: 70vw;
  top: -35vh;
  margin: 0;
  list-style-type: none;
  cursor: pointer;
}

.flavor-pluses>li {
  margin-top: 4em;
}

.flavor-lines {
  position: absolute;
  left: 15vw;
  top: 60vh;
  font-size: 1rem;
}

.flavor-triangle {
  position: absolute;
  left: 150vw;
  top: 150vh;
}

.accolades {
  margin-bottom: 10vh;
}

.accolades>div {
  float: left;
  width: 33.333%;
}

.accolades h2,
.introduction h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(28, 69, 131);
}

.accolades li {
  list-style: none;
  margin-bottom: 3px;
}

.accolades ul {
  margin: 0;
  padding: 0;
}

.introduction {
  line-height: 1.8;
  letter-spacing: .06em;
}

.date {
  position: absolute;
  top: 5%;
  left: 2%;
}

.column p {
  transition-duration: .2s;
}

.column h1 {
  width: 100%;
  font-size: 2em;
  margin: 0;
  font-size: 2.2rem;
  line-height: 45px;
  min-height: 15%;
  transition-duration: .2s
}

.proj-flavor-text {
  max-width: 55%;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 1px;
}

.proj1 {
  grid-area: "proj1";
  background-color: transparent;
  border: 1px solid black;
}

.proj1>h1 {
  display: inline-block;
}

.proj2 {
  grid-area: "proj2";
  background-color: #192A3B;
}

.proj2 * {
  color: ghostwhite;
}

.proj3 {
  grid-area: "proj3";
  background-color: transparent;
  border: 7px solid rgba(64, 86, 115);
}

.proj3 * {
  color: rgba(64, 86, 115);
}

.proj4 {
  grid-area: "proj4";
  background-color: #4F1E31;
}

.proj4 * {
  color: ghostwhite;
}

.directional-left {
  grid-area: "directional-left";
}

.directional-right {
  grid-area: "directional-right";
}

.experience-page-prompt {
  position: relative;
  text-align: right;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(28, 69, 131);
  transition: .2s;
}


.experience-page-prompt:hover {
  color: rgba(164, 186, 215);
}



/* Panel CSS Hover */
.grid-container-homepage>.column:hover h1,
.grid-container-homepage>.column:hover p {
  color: inherit;
}

/* Layout */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

@media(min-width: 2000px) {

  .big-intro {
    margin-top: 20rem;
  }

  .tagline>span:nth-child(1) {
    font-size: 7rem;
  }

  .tagline>span:nth-child(2) {
    font-size: 4rem;
  }

  .tagline>span:nth-child(3) {
    font-size: 4rem;
  }

  .intro-announcement {
    font-size: 2.5rem;
    z-index: 10;
    letter-spacing: .5rem;
  }

  .intro-focus-flavor {
    width: 500px;
    height: 500px;
  }

  .flavor-lines {
    left: 30vw;
    top: 50vh;
    font-size: 3rem;
  }

  .flavor-pluses {
    left: 70vw;
    font-size: 2rem;
    /* cursor: pointer; */
  }

  .column h1 {
    font-size: 6rem;
    margin-top: 2rem;
    line-height: 7rem;
  }

  .column p {
    font-size: 2rem;
    margin-top: 4rem;
  }

  .meet-me {
    font-size: 2rem;
    max-width: 50em;
  }

  .meet-me h2 {
    font-size: 2rem;
  }
}

@media(max-width: 1050px) {

  main {
    grid-template-columns: auto 740px auto;
  }

  .flavor-pluses {
    left: 70vw;
    /* cursor: pointer; */
  }

  .meet-me {
    font-size: .8rem;
    max-width: 50em;
  }

  .meet-me h2 {
    font-size: 1rem;
  }

  .column h1 {
    font-size: 2.3em;
    line-height: 1.2em;
    margin-top: 1.2em;
  }

  .column p {
    font-size: .8em;
  }
}

@media(max-width: 700px) {

  main {
    grid-template-columns: auto 90% auto;
  }

  .intro-block {
    background-position-x: -300px;
  }

  .grid-container-homepage {
    max-width: 70%;
    margin: auto;
  }

  .tagline>span:nth-child(1) {
    font-size: 3rem;
  }

  .tagline>span:nth-child(2) {
    font-size: 1.5rem;
  }

  .tagline>span:nth-child(3) {
    font-size: 1.5rem;
  }

  .intro-announcement {
    font-size: 1rem;
  }

  .intro-focus-flavor {
    width: 175px;
    height: 175px;
  }

  .flavor-pluses {
    left: 60vw;
    /* cursor: pointer; */
  }

  .accolades>div>ul {
    display: grid;
  }

  .accolades>div>ul>li {
    min-height: 70px;
  }

  .meet-me {
    font-size: .8rem;
    max-width: 20em;
  }

  .meet-me h2 {
    font-size: 1rem;
  }

  .proj-flavor-text {
    max-width: initial;
  }

  .column {
    max-height: 182px;
  }

  .column h1 {
    text-align: center;
    font-size: 1.8em;
    line-height: 1.2em;
    margin-top: 1.2em;
  }

  .column p {
    font-size: .8em;
    line-height: 1.4em;
  }

  .date {
    left: 5%;
  }
}