.grid-container-homepage {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.grid-container-homepage>.column {
  position: relative;
  padding: 3em;
  min-height: 40vh;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-container-homepage>.column a {
  text-decoration: none;
}

.projects-intro-wrapper {
  text-align: left;
}

.projects-intro-wrapper>h1 {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(28, 69, 131);
}

.intro-block {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url('/assets/images/piano_lighted.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 7vh;
  margin-bottom: 10vh;
}

.intro-focus-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.intro-focus {
  position: relative;
  border: 10px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  width: 200px;
  height: 380px;
}

.intro-announcement {
  position: absolute;
  left: 30vw;
  top: 25vh;
  font-size: 3.3rem;
  z-index: 10;
  color: rgb(28, 69, 131);
  letter-spacing: .5rem;
}

.project-intro {
  text-align: left;
}

.meet-me {
  display: block;
  position: relative;
  margin: 0 auto 20vh auto;
  font-family: 'Source Code Pro', monospace;
  font-size: .875em;
  line-height: 1.4;
  color: #02010a;
  max-width: 60em;
}

.flavor-circle {
  position: absolute;
  left: 70vw;
  top: 65vh;
  stroke-width: 4;
  fill: transparent;
  /* cursor: pointer; */
}

.flavor-line {
  position: absolute;
  left: 30vw;
  top: 50vh;
  stroke-width: 8;
  height: 100px;
  width: 310px;
}

/* .flavor-triangle {
  position: absolute;
  left: 100vw;
  top: 70vh;
} */

.accolades {
  margin-bottom: 10vh;
}

.accolades>div {
  float: left;
  width: 33.333%;
}

.accolades h2,
.introduction h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(28, 69, 131);
}

.accolades li {
  list-style: none;
}

.accolades ul {
  margin: 0;
  padding: 0;
}

.introduction {
  line-height: 1.8;
  letter-spacing: .06em;
}

.date {
  position: absolute;
  top: 5%;
  left: 2%;
}

.column p {
  transition-duration: .2s;
}

.column h1 {
  width: 100%;
  font-size: 2em;
  margin: 0;
  font-size: 2.2rem;
  line-height: 45px;
  min-height: 15%;
  transition-duration: .2s
}

.proj-flavor-text {
  max-width: 55%;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 1px;
}

.proj1 {
  grid-area: "proj1";
  background-color: transparent;
  border: 1px solid black;
}

.proj1>h1 {
  display: inline-block;
}

.proj2 {
  grid-area: "proj2";
  background-color: #192A3B;
}

.proj2 * {
  color: ghostwhite;
}

.proj3 {
  grid-area: "proj3";
  background-color: transparent;
  border: 7px solid rgba(64, 86, 115);
}

.proj3 * {
  color: rgba(64, 86, 115);
}

.proj4 {
  grid-area: "proj4";
  background-color: #4F1E31;
}

.proj4 * {
  color: ghostwhite;
}

.directional-left {
  grid-area: "directional-left";
}

.directional-right {
  grid-area: "directional-right";
}


/* Panel CSS Hover */
.grid-container-homepage>.column:hover h1,
.grid-container-homepage>.column:hover p {
  color: inherit;
}

/* Layout */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

@media(min-width: 2000px) {
  .intro-announcement {
    left: 30vw;
    top: 25vh;
    font-size: 7rem;
    z-index: 10;
    color: rgb(28, 69, 131);
    letter-spacing: .5rem;
  }

  .intro-focus {
    width: 450px;
    height: 900px;
  }

  .flavor-line {
    left: 30vw;
    top: 50vh;
    stroke-width: 32;
  }

  .flavor-line>svg {
    width: 600px;
  }

  .flavor-circle {
    left: 70vw;
    top: 65vh;
    stroke-width: 4;
    fill: transparent;
    /* cursor: pointer; */
  }

  .flavor-circle>svg {
    width: 400px;
    height: 400px;
  }

  .column h1 {
    font-size: 6rem;
    margin-top: 2rem;
    line-height: 7rem;
  }

  .column p {
    font-size: 2rem;
    margin-top: 4rem;
  }

  .meet-me {
    font-size: 2rem;
    max-width: 50em;
  }

  .meet-me h2 {
    font-size: 2rem;
  }
}

@media(max-width: 1050px) {
  .intro-announcement {
    position: absolute;
    left: 30vw;
    top: 25vh;
    font-size: 2.8rem;
    z-index: 10;
    color: rgb(28, 69, 131);
    letter-spacing: .5rem;
  }

  .intro-focus {
    width: 200px;
    height: 380px;
  }

  .flavor-line {
    left: 30vw;
    top: 50vh;
    stroke-width: 8;
  }

  .flavor-line>svg {
    width: 320px;
  }

  .flavor-circle {
    left: 70vw;
    top: 65vh;
    stroke-width: 4;
    fill: transparent;
    /* cursor: pointer; */
  }

  .flavor-circle>svg {
    width: 400px;
    height: 400px;
  }

  .meet-me {
    font-size: .8rem;
    max-width: 50em;
  }

  .meet-me h2 {
    font-size: 1rem;
  }

  .column h1 {
    font-size: 2.3em;
    line-height: 1.2em;
    margin-top: 1.2em;
  }

  .column p {
    font-size: .8em;
  }
}

@media(max-width: 700px) {

  .grid-container-homepage {
    max-width: 70%;
    margin: auto;
  }

  .grid-container-homepage>.column {
    min-height: initial;
  }

  .intro-announcement {
    position: absolute;
    left: 10vw;
    top: 30vh;
    font-size: 1.8rem;
    z-index: 10;
    color: rgb(28, 69, 131);
    letter-spacing: .5rem;
  }

  .intro-focus {
    width: 120px;
    height: 270px;
  }

  .flavor-line {
    left: 10vw;
    top: 43vh;
    stroke-width: 4;
  }

  .flavor-line>svg {
    width: 200px;
  }

  .flavor-circle {
    left: 60vw;
    top: 65vh;
    stroke-width: 4;
    fill: transparent;
    /* cursor: pointer; */
  }

  .flavor-circle>svg {
    width: 400px;
    height: 400px;
  }

  .meet-me {
    font-size: .8rem;
    max-width: 20em;
  }

  .meet-me h2 {
    font-size: 1rem;
  }

  .proj-flavor-text {
    max-width: initial;
  }

  .column h1 {
    text-align: center;
    font-size: 1.8em;
    line-height: 1.2em;
    margin-top: 1.2em;
  }

  .column p {
    font-size: .8em;
    line-height: 1.4em;
  }

  .date {
    left: 5%;
  }
}